
@{
    ViewData["Title"] = "DirectorsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<img src="@Model.PicturePath" alt="@Model.Name" style="width: 200px; height: auto; border-radius: 50%; display: block; margin: 0 auto;">
<p>@Model.Bio</p>

